11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [ ]:
>>> import zoo
>>> zoo.hours()
# will show Open 9-5 daily

11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [ ]:
>>> import zoo as menagerie

In [ ]:
>>> menagerie.hours()
# will show Open 9-5 daily

16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [ ]:
from sqlalchemy import create_engine, Table, MetaData, select

# Create an engine that connects to the books.db SQLite database
engine = create_engine('sqlite:///books.db', echo=True)

# Create a metadata object
metadata = MetaData()

# Reflect the table from the database
books = Table('books', metadata, autoload=True, autoload_with=engine)

# Create a connection object
with engine.connect() as connection:
    # Equivalent to: SELECT title FROM books ORDER BY title ASC;
    stmt = select([books.c.title]).order_by(books.c.title.asc())
    
    # Execute the statement and fetch all results
    results = connection.execute(stmt).fetchall()
    
    # Print the title column from the results
    for row in results:
        print(row.title)